[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pytest = "==7.3.0"
pytest-cov = "*"
pytest-mock = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
